



@media (max-width: 768px) {


.hd_v li{
	
	font-size:18px;
	
}



@media (max-width: 768px){
.slide-text>p {
	color: #fff;
	font-size: 9px;
	font-weight: 300;
	line-height: 16px;
	text-align: center;
	    margin-top: 20px;
	font-family: 'Poppins', sans-serif;
}


.slide-text>h1 {
	padding: 0;
	color: #ffcc33;
	font-size: 18px;
	margin-bottom:10px;
	font-style: normal;
	line-height: 0px;
	margin-top:0px;
	
	
}
}


@media (max-width: 768px) {


.video_sec iframe{

margin-top:25px;

}

@media (max-width: 768px) {

.form_1{
	
	padding: 46px 9px;

position: relative;

top: 0px;

right: 00px;
margin-top:25px;
}

}

@media (max-width: 768px){
.left_1 h4{
	
	margin-left:0px;
}

.left_1 h3{
	
	margin-left:0px;
}
}


@media (max-width: 768px){
.right_1{
margin-top:0px;
height: 658px;
}


}




@media (max-width: 768px){
.bs-slider>.carousel-inner>.item>img{
	
height:145px;}
	.slide-text .btn{
		
		display:none;
	}
	
}







@media (max-width: 768px){
.form_3 h3{
	
	margin-top:43px;
	line-height:33px;
}

.Making_text h3{
	
	margin-top:13px;
}
	
	
		
.video_sec2 iframe
{
		width:100%;
}

}




@media (max-width: 768px){

.services-single .default-text-block h4{
	
	margin-top:0px;
	
}
}


@media (max-width: 768px){


.romana_section_title  h2
{

margin-top:50px;
width:100%;
font-size:23px;
float:left;
}



.romana_contact_form2 .romana_submit_btn input{
	
	width:50%;
	
}
}





@media (max-width: 768px){


.abt_sec h3{
	
	margin-top:18px;
}


.left_1 h4{
	
	margin-top:67px;
	
	
}
.left_1{
	
	
	height:469px;
}

.abt_text2 h3{
	
		margin-top:18px;

	
}

.abt_img2 img{
	
			margin-top:25px;

}



.service_text h3{
	
				margin-top:45px;

	
}

.service_box{


margin-bottom:34px;
}

.sidebar .sidebar-widget{
	
	
	margin-bottom:40px;

}
.appoinment_link{
	
	margin-top:-34px;
	
}